<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    {% block css %}{% endblock %}
    <script src="https://kit.fontawesome.com/6ffb1047c7.js" crossorigin="anonymous" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <div class="menu-icon-container" onclick="navMenuClick()">
                <i class="fa-solid fa-bars fa-2x"></i>
            </div>
            <div class="logo-container" id="logo">
                <a href="{{ url_for('browse.home') }}"><img src="/static/img/animatrix_logo.png" alt="Animatrix"></a>
            </div>
            
            <div class="nav-btn-container" id="nav-btns">
                <a class="nav-btn" href="/">Home</a>
                <a class="nav-btn" href="{{ url_for('browse.top_anime') }}">Top Rated Anime</a>
                <a class="nav-btn" href="{{ url_for('browse.most_popular_anime') }}">Most Popular Anime</a>
                <a class="nav-btn" href="{{ url_for('browse.advanced_search') }}">Find Anime</a>
            </div>
        </div>
        <div class="nav-right">
            <div class="search-bar">
                <i class="fas fa-search fa-2x" id="search-icon" onclick="searchIconClick()"></i>
                <form action="/search" method="POST" id="nav-search-form">
                    <div class="search-bar-input-container">
                        <select class="search-bar-select" name="search_option">
                            <option value="anime">Anime</option>
                            <option value="user">User</option>
                        </select>
                        <input id="search-bar-input" type="text" name="search_term" placeholder="Type something to search">
                        <i class="fa fa-times" id="search-close-icon" onclick="searchCloseClick()"></i>
                    </div>
                </form>
            </div>
            {% if current_user.is_authenticated %}
            <div class="user-icon-container" onclick="userIconClick()">
                <i class="fa-solid fa-user fa-2x"></i>
            </div>
            <div class="nav-dropdown" id="nav-user-menu">
                <a class="nav-btn" href="{{ url_for('user.profile.profile', username=current_user.username) }}">Profile</a>
                <a class="nav-btn" href="{{ url_for('user.notifications') }}" id="notification-user-menu">Notifications</a>
                <a class="nav-btn" href="{{ url_for('user.support_requests') }}">Support Request</a>
                <a class="nav-btn" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>

            {% else %}
            <button class="button btn-round btn-lblue nav-auth-btn" id="login-button" onclick="changeUrl(`{{ url_for('auth.login') }}`)">Login</button>
            <button class="button btn-round btn-lblue nav-auth-btn" id="signup-button" onclick="changeUrl(`{{ url_for('auth.sign_up') }}`)">Sign Up</button>
            {% endif %}
        </div>
    </nav>
    <div class="body-content">
        {% block content %}{% endblock %}
    </div>
    <div class="flash-message-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>