{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="profile-sidebar-container" tabindex="0">
    <div class="profile-sidebar">
        <a class="sidebar-item" href="{{ url_for('user.profile.profile', username=user.username) }}">Posts</a>
        <a class="sidebar-item" href="{{ url_for('user.profile.favorites', username=user.username) }}">Top 5 Favorites</a>
        <a class="sidebar-item" href="{{ url_for('user.profile.friends', username=user.username) }}">Friends</a>
        <a class="sidebar-item" href="{{ url_for('user.profile.followers', username=user.username) }}">Followers</a>
        <a class="sidebar-item" href="{{ url_for('user.profile.following', username=user.username) }}">Following</a>
        {% if current_user.id == user.id %}
        <a class="sidebar-item" href="{{ url_for('user.profile.watchlist') }}">Watchlist</a>
        <a class="sidebar-item" href="{{ url_for('user.profile.recommendations') }}">Recommendations</a>
        {% endif %}
    </div>
    <div class="sidebar-button-container" onclick="sidebarButtonClick()">
        <i class="fa-solid fa-arrow-right fa-2xl" id="sidebar-button"></i>
    </div>
</div>
<div class="profile-body">
    <div class="profile-body-component profile-card">
        {% if user.profile_pic %}
        <div class="profile-picture-container">
            <img class="profile-picture" src="/static/img/upload_folder/{{ user.profile_pic }}">
        </div>
        {% else %}
        <div class="profile-picture-container">
            <img class="profile-picture" src="/static/img/user.svg">
        </div>
        {% endif %}
        <div class="profile-info">
            <div class="name-username-container">
                <div class="name-username" onclick="changeUrl(`{{ url_for('user.profile.profile', username=user.username) }}`)">
                    <div class="name lg">{{ user.name }}</div>
                    <div class="username lg">@{{ user.username }}</div>
                </div>
                {% if not relationship %}
                <button class="btn-squarish btn-dblue action-button" 
                    onclick="follow('{{ user.username }}', this)">Follow</button>
                {% elif relationship == 'friends' or relationship == 'following' %}
                <button class="btn-squarish btn-dblue action-button"
                    onclick="follow('{{ user.username }}', this)">Unfollow</button>
                {% elif relationship == 'self' %}
                <button class="btn-squarish btn-dblue action-button" onclick="changeUrl(`{{ url_for('user.profile_pic') }}`)">Change Profile Picture</button>

                {% endif %}
            </div>
            <h4>Joined at {{ user.joindate }}</h4>
            <div class="profile-stats-container">
                <div class="profile-stat">
                    {{ num_friends }}<br>
                    Friends
                </div>
                <div class="profile-stat">
                    {{ num_followers }}<br>
                    Followers
                </div>
                <div class="profile-stat">
                    {{ num_following }}<br>
                    Following
                </div>
            </div>
            
        </div>
        
    </div>
    {% block profile_content %}
    {% if current_user.id == user.id %}
    <div class="profile-body-component profile-post-form">
        <div class="name-username-dp-container">
            {% if current_user.profile_pic %}
            <div class="profile-picture-container sm">
                <img class="profile-picture sm" src="/static/img/upload_folder/{{ user.profile_pic }}">
            </div>
            {% else %}
            <div class="profile-picture-container sm">
                <img class="profile-picture sm" src="/static/img/user.svg">
            </div>
            {% endif %}
            <div class="name-username" onclick="changeUrl(`{{ url_for('user.profile.profile', username=user.username) }}`)">
                <div class="name m">{{ current_user.name }}</div>
                <div class="username m">@{{ current_user.username }}</div>
            </div>
        </div>
        <form class="post-form" method="POST" action="{{ url_for('user.post') }}">
            <textarea class="post-textarea" name="text" placeholder="Share your thoughts..." required></textarea><br>
            <div class="post-form-bottom">
                <div class="toggle-button" onclick="privacyButtonClick()">
                    <input id="private-checkbox" type="checkbox" name="private" value="private">
                    <i id="privacy-toggle-icon" class="fa-solid fa-toggle-off fa-2x"></i>
                    <label for="private">Private</label>
                </div>
                <div class="form-button-holder right">
                    <button class="button btn-round btn-lblue post-button">Post</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% for post, user_reaction in posts %}
    <div class="profile-body-component post-container" id="post{{ post.id }}">
        <div class="name-username-dp-container">
            {% if user.profile_pic %}
            <div class="profile-picture-container sm">
                <img class="profile-picture sm" src="/static/img/upload_folder/{{ user.profile_pic }}">
            </div>
            {% else %}
            <div class="profile-picture-container sm">
                <img class="profile-picture sm" src="/static/img/user.svg">
            </div>
            {% endif %}
            <div class="name-username" onclick="changeUrl(`{{ url_for('user.profile.profile', username=user.username) }}`)">
                <div class="name m">{{ post.author.name }}</div>
                <div class="username m">@{{ post.author.username }}</div>
            </div>
        </div>
        <div class="post-time">{{ post.post_time }}</div>

        <div class="post-text">
            {{ post.text }}
        </div>

        {% if post.post_type == 'anime_post' %}
        <div style="display: flex;">
            <div class="anime-post-category div">{{ post.anime.title }}</div>
            <div class="anime-post-category div">{{ post.category }}</div>
        </div>
        {% endif %}

        <hr>
        <div class="post-reaction-button-container">
            {% if not user_reaction %}
            <div id="like{{ post.id }}" class="post-reaction-button" onclick="react(true, '{{ post.id }}')">
                <i class="fa-solid fa-thumbs-up fa-lg"></i>
            </div>
            <div id="dislike{{ post.id }}" class="post-reaction-button" onclick="react(false, '{{ post.id }}')">
                <i class="fa-solid fa-thumbs-down fa-lg"></i>
            </div>
            {% elif user_reaction.like %}
            <div id="like{{ post.id }}" class="post-reaction-button reacted" onclick="react(true, '{{ post.id }}')">
                <i class="fa-solid fa-thumbs-up fa-lg"></i>
            </div>
            <div id="dislike{{ post.id }}" class="post-reaction-button" onclick="react(false, '{{ post.id }}')">
                <i class="fa-solid fa-thumbs-down fa-lg"></i>
            </div>
            {% else %}
            <div id="like{{ post.id }}" class="post-reaction-button" onclick="react(true, '{{ post.id }}')">
                <i class="fa-solid fa-thumbs-up fa-lg"></i>
            </div>
            <div id="dislike{{ post.id }}" class="post-reaction-button reacted" onclick="react(false, '{{ post.id }}')">
                <i class="fa-solid fa-thumbs-down fa-lg"></i>
            </div>
            {% endif %}
            <div id="comment{{ post.id }}" class="post-reaction-button" onclick="changeUrl(`{{ url_for('post.post', id=post.id) }}`)">
                <i class="fa-solid fa-comment fa-lg"></i>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</div>
{% endblock %}