{% extends 'profile.html' %}

{% block title %}Recommendations{% endblock %}


{% block profile_content %}
<h3 class="profile-content-title">{{ content }}</h3>
<button class="button btn-squarish btn-lblue action-button" onclick="changeUrl(`{{ url_for('user.recommendation_advanced_search') }}`)">Advanced Search</button>

<div class="profile-body-component profile-friends-body">
    <!-- "{{ url_for('user.profile.profile', username=user.username) }}" -->
    {% if num_items == 0 %}
    <div style="font-size: 1em">No recommendations to show</div>
    {% else %}
    {% for r in recommendations %}
    <div class="name-username-container connections">
        <div class="name-username-dp-container">
            {% if r.anime.picture %}
            <div class="profile-picture-container sm">
                <img class="profile-picture sm sqr" src="/static/img/upload_folder/{{ r.anime.picture }}" alt="">
            </div>
            {% else %}
            <div class="profile-picture-container sm">
                <img class="profile-picture sm sqr" src="/static/img/anime_default.png" alt="no image">
            </div>
            {% endif %}
            <div class="name-username" onclick="changeUrl(`{{ url_for('anime.anime_page', id=r.anime.id) }}`)">
                <div class="name sm">{{ r.anime.title }}</div>
                <div>Recommended by {{ r.recommended_by.username }}</div>
            </div>

        </div>
        
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}